p {
    margin: 0;
}

.sun {
    color: red;
}

.mon {
    color: green;
}

.tue {
    color: orange;
}

.wed {
    color: yellow;
}

.thu {
    color: black;
    font-weight: bold;
}

.fri {
    color: blue;
}

.sat {
    color: red;
    font-weight: bold;
}